NODE_ENV=development
PORT=3000

POSTGRES_USER=user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=crz_project
POSTGRES_HOST=localhost
POSTGRES_PORT=5436

JWT_ACCESS_TOKEN_SECRET=your_jwt_access_token_secret